/*
Author: Hifumi1337 <https://github.com/Hifumi1337>
Contributors: Vargrey <https://github.com/Vargrey>
*/

body {
  background-color: #010409;
  color: #fff;
}

img.path-task-img {
  background-color: #fff;
  padding: 5px;
}

div.path-tasks-grid:hover, div.hacktivities-nav.sticky-top.mb-4, a.hacktivities-grid-item.hacktivities-progress-card.clear-link, div.card-body.task-complete, a.nav-link.active, div.card-header, div.card-footer, a.module-card.clear-link, span.input-group-text, div.modal-body, div.modal-footer, div.modal-header {
  background-color: #21262d;
}

div.no-overflow, #friends-block, span.size-14.faded, a.nav-link, a.hacktivities-grid-item.hacktivities-progress-card.clear-link i, div.size-16.bold.text-black, div.card-body.task-complete p, tbody tr td, div.card-body.stats i, div div ul, thead tr th, tbody tr th, div div ol li, div.card-body.task-incomplete p, div.size-18.text-black.bold, div.series-title, div.size-18.text-black.bold.mb-2, div.d-flex.justify-content-between.align-items-center.mb-2, h5.bold.text-black.size-18.m-0, h5.bold.text-black.size-18, div.series-desc-clean, div button span, div.card-footer.path-stats, div.size-22.text-black.bold.mb-2, p.text-lgray, div.text-lgray, code, i.fa.fa-search, label.custom-control-label.noselect, div.progress-card.mb-4 {
  color: #fff;
}

div.card-block.px-2.room-body, div.card-footer.text-muted.room-card-footer, div.row.no-gutters.vertical-align-custom, div.card-body, div.StripeElement.StripeElement--empty, div.StripeElement.StripeElement, div.emojionearea-editor, div.group-select.noselect, input.form-control.typeahead.tt-input, div.tt-menu, input.form-control, ul.pagination.justify-content-center.m0 a, label.input-group-text, select.custom-select {
  background-color: #21262d;
  color: #fff;
}

.apexcharts-tooltip-title,
.apexcharts-tooltip-series-group, 
.apexcharts-active{
  color: #000 !important;
}

pre.language-python,
pre.language-javascript,
div p code {
  background-color: #21262d;
  border: 1px solid #fff;
}

div.container.profile-body {
  background-color: #000;
}

ul.pagination.justify-content-center.m0 a:hover {
  color: #000;
  background-color: #fff;
}

#dashboard-streak span {
  color: #88cc16;
}

div.text-lgray.size-12 {
  color: #000;
}

label.bold {
  color: #ffffff;
}

h5.text-black.bold.mb-0 {
  color: #ffffff;
}

text.apexcharts-title-text {
  fill: white;
}

a.clear-link.practice-card-design {
  background-color: #21262D;
}
